{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>

<body>
    <div class="contenido">
        <h1>Bienvenido al Sistema de Compras</h1>
        <p>"Gestione clientes, tiendas y compras en un solo lugar."</p>

        <!-- Ajusta la ruta según tu proyecto -->
        <a href="/login" class="boton">Iniciar Sesion</a>
    </div>

</body>
</html>
